---
layout: research
title: Research
permalink: /research/
description: >
  Our group studies fluids in extreme environments, employing theoretical, numerical, and experimental approaches to develop innovative solutions for propulsion, energy, and environmental applications.
nav: true
nav_order: 2
_styles: >
  .post-description {font-size:1rem;}
---

{% for item in site.research %}
{% include research_splash.liquid %}
{% endfor %}

<header class="subheader">
  <h2 class="post-title">Capabilities</h2>
</header>

<div class="projects caps">  
  <!-- Display projects without categories -->
  {% assign sorted_projects = site.capabilities | sort: "importance" %}
  <!-- Generate cards for each project -->
  <div class="row row-cols-1 row-cols-md-2">
    {% for project in sorted_projects %}
      {% include capabilities.liquid %}
    {% endfor %}
  </div>
</div>