---
layout: research
title: Research
permalink: /research/
description: >
  Our research aims to develop an improved holistic understanding of fluids in complex environments, with application to energy conversion, propulsion, wildfire modeling, and carbon capture and sequestration. 
  To do so, we combine experimental, theoretical, and computational approaches.
  This text was totally not stolen and copy pasted from the homepage!
nav: true
nav_order: 2
---

{% for item in site.research %}
{% include research_splash.liquid %}
{% endfor %}

<header class="subheader">
  <h2 class="post-title">Capabilities</h2>
</header>

<div class="projects caps">  
  <!-- Display projects without categories -->
  {% assign sorted_projects = site.capabilities | sort: "importance" %}
  <!-- Generate cards for each project -->
  <div class="row row-cols-1 row-cols-md-2">
    {% for project in sorted_projects %}
      {% include capabilities.liquid %}
    {% endfor %}
  </div>
</div>