<div class="col">
  <div class="card h-100 hoverable">
    {% if project.img %}
      {%
        include figure.liquid
        loading="eager"
        path=project.img
        sizes = "250px"
        alt="project thumbnail"
        class="card-img-top"
      %}
    {% endif %}
    <div class="card-body">
      <h2 class="card-title">{{ project.title }}</h2>
      <p class="card-text">{{ project.description }}</p>
      <div class="card-text card-more">
        <a href="{% if project.redirect %}{{ project.redirect }}{% else %}{{ project.url | relative_url }}{% endif %}">
          <span>Learn more</span>
          <i class="fa-solid fa-circle-arrow-right"></i>
        </a>
      </div>
    </div>
  </div>
</div>
