<div class="card">
  <div class="list-groups">
    <div class="list-group image-box">
      <img src="{{ item.img }}" class="card-display"/>
    </div>
    <div class="list-group text-box">
      <h3 class="card-title">{{ item.title }}</h3>
      {{ item.content }}
    </div>
  </div>
</div>