
    <div class="logo-section">
      <div class="row flex-4">
        <div class="col-sm mt-3 mt-md-0">
          {% include figure.liquid loading="eager" path="assets/img/logos/doe_logo.png" title="Department of Energy" class="img-fluid" %}
        </div>
        <div class="col-sm mt-3 mt-md-0">
          {% include figure.liquid loading="eager" path="assets/img/logos/acs_logo.png" title="Americal Chemical Society" class="img-fluid" %}
        </div>
        <div class="col-sm mt-3 mt-md-0">
          {% include figure.liquid loading="eager" path="assets/img/logos/afosr_logo.png" title="Air Force Office of Scientific Research" class="img-fluid" %}
        </div>
        <div class="col-sm mt-3 mt-md-0">
          {% include figure.liquid loading="eager" path="assets/img/logos/cmcuf_logo.png" title="Center for Mechanistic Control of Unconventional Formations" class="img-fluid" %}
        </div>
        <div class="col-sm mt-3 mt-md-0">
          {% include figure.liquid loading="eager" path="assets/img/logos/faa_logo.png" title="Federal Aviation Administration" class="img-fluid" %}
        </div>
        <div class="col-sm mt-3 mt-md-0">
          {% include figure.liquid loading="eager" path="assets/img/logos/nasa_logo.png" title="National Aeronautics and Space Administration (NASA)" class="img-fluid" %}
        </div>
        <div class="col-sm mt-3 mt-md-0">
          {% include figure.liquid loading="eager" path="assets/img/logos/nsf_logo.png" title="National Science Foundation" class="img-fluid" %}
        </div>
      </div>
      <div class="row flex-3">
        <div class="col-sm mt-3 mt-md-0">
          {% include figure.liquid loading="eager" path="assets/img/logos/boeing_logo.png" title="Boeing" class="img-fluid" %}
        </div>
        <div class="col-sm mt-3 mt-md-0">
          {% include figure.liquid loading="eager" path="assets/img/logos/exxon_logo.png" title="ExxonMobil" class="img-fluid" %}
        </div>
        <div class="col-sm mt-3 mt-md-0">
          {% include figure.liquid loading="eager" path="assets/img/logos/total_logo.png" title="Total" class="img-fluid" %}
        </div>
        <div class="col-sm mt-3 mt-md-0">
          {% include figure.liquid loading="eager" path="assets/img/logos/onr_logo.png" title="Office of Naval Research" class="img-fluid" %}
        </div>
        <div class="col-sm mt-3 mt-md-0">
          {% include figure.liquid loading="eager" path="assets/img/logos/google_logo.png" title="Google" class="img-fluid" %}
        </div>
        <div class="col-sm mt-3 mt-md-0">
          {% include figure.liquid loading="eager" path="assets/img/logos/daikin_logo.png" title="Daikin" class="img-fluid" %}
        </div>
      </div>
      <div class="row flex-3">
        <div class="col-sm mt-3 mt-md-0">
          {% include figure.liquid loading="eager" path="assets/img/logos/fmglobal_logo.png" title="FM Global" class="img-fluid" %}
        </div>
        <div class="col-sm mt-3 mt-md-0">
          {% include figure.liquid loading="eager" path="assets/img/logos/precourt_logo.png" title="Stanford Precourt Institute for Energy" class="img-fluid" %}
        </div>
        <div class="col-sm mt-3 mt-md-0">
          {% include figure.liquid loading="eager" path="assets/img/logos/doerr_logo.png" title="Stanford Doerr School of Sustainability" class="img-fluid" %}
        </div>
        <div class="col-sm mt-3 mt-md-0">
          {% include figure.liquid loading="eager" path="assets/img/logos/woods_logo.png" title="Stanford Woods Institute for the Environment" class="img-fluid" %}
        </div>
        <div class="col-sm mt-3 mt-md-0">
          {% include figure.liquid loading="eager" path="assets/img/logos/psaap_logo.png" title="Predictive Science Academic Alliance Program" class="img-fluid" %}
        </div>
      </div>
    </div>