/******************************************************************************
 * Content
 ******************************************************************************/

body {
  // padding-bottom: 70px;
  color: var(--global-text-color);
  background-color: var(--global-bg-color);

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    scroll-margin-top: 66px;
  }
}

body.fixed-top-nav {
  // Add some padding for the nav-bar.
  padding-top: 56px;
}

body.sticky-bottom-footer {
  // Remove padding below footer.
  padding-bottom: 0;
}

.container {
  max-width: $max-content-width;
}

// Profile
.profile {
  img {
    width: 100%;
  }
}

.banner {
  max-height:45vh;
  object-fit:cover;
  object-position:bottom;
}

@media screen and (max-height:720px){
  .banner {
    // object-position:center;
    max-height:100vh;
  }
}

.profile + .clearfix h5 + ul li a {
  text-decoration: underline;
  color: inherit;
  &:hover {
    color: var(--global-theme-color);
  }
}

.profile + .clearfix h5 + ul li a em {
  color: inherit;
}

// Splash
body {
  overflow-x:hidden!important;
}

.splash {
  position: relative;
  width: 100vw;
  left: 50%;
  right: 50%;
  margin: -3rem -50vw 3rem -50vw;
}

.carousell, .carousell figure {
  width:100%;
  height:calc(100vh - 136px);
}

.hero {
  object-fit:cover;
  object-position:bottom; // snap the droplet image to screen bottom
  display:block;
  width:100%;
  height:calc(100vh - 136px); // need to adjust to put title spacing
}

.floatie {
  top:0;
  right:0;
  position:absolute;
  z-index:2;
  width:100%;
}

.floatie .container {
  margin:0 auto;
  position:relative;
}

// This block of code controls the position of the content inside the splash
.floatie .container .inner {
  position:absolute;
  text-shadow: 2px 2px 3px rgba(0,0,0,0.5);
  animation:positioning 60s infinite;

  .social {
    text-align:inherit;
  }
}

.carousell > figure {
  position:absolute;
  animation:crossfade 60s infinite;
  -webkit-animation:crossfade 60s infinite;
}

.carousell figure:nth-child(2) {
  animation-delay: -40s;
}

.carousell figure:nth-child(3) {
  animation-delay: -20s;
}

@-webkit-keyframes crossfade {
    0% {opacity: 0;}
    1% {opacity: 0;}
    32.333% {opacity: 0;}
    34.333% {opacity: 1;}
    65.667% {opacity: 1;}
    67.667% {opacity: 0;}
    99% {opacity: 0;}
    100% {opacity: 0;}
}
@keyframes crossfade {
  0% {opacity: 0;}
  1% {opacity: 0;}
  32.333% {opacity: 0;}
  34.333% {opacity: 1;}
  65.667% {opacity: 1;}
  67.667% {opacity: 0;}
  99% {opacity: 0;}
  100% {opacity: 0;}
}

// Order is 3-1-2
@keyframes positioning {
  // Image 3 - center
  1% {
    left:0; 
    right:0; 
    text-align:center; 
    max-width:$max-content-width;
    top:30vh; 
  }
  32.333% {
    left:0; 
    right:0; 
    text-align:center; 
    max-width:$max-content-width;
    top:30vh; 
  }
  // Image 1 - right
  34.333% {
    text-align:right;
    right:0;
    left:auto;
    max-width:calc(0.5*$max-content-width);
    top:10vh;
  }
  65.667% {
    text-align:right;
    right:0;
    left:auto;
    max-width:calc(0.5*$max-content-width);
    top:10vh;
  }
  // Image 2 - centered
  67.667% {
    left:0; 
    right:0; 
    text-align:center; 
    max-width:$max-content-width;
    top:8vh;
  }
  99% {
    left:0; 
    right:0; 
    text-align:center; 
    max-width:$max-content-width;
    top:8vh;
  }
}

article.large {
  font-size:1.3rem;
  line-height:2.5rem;
}

// News
.homepage hr {
  border-top:1px solid transparent;
  margin:1rem 0;
}

.news table th,
.news table td {
  padding-top:0;
  padding-bottom:0;
}

.news table {
  margin-top:0.5rem;
}

// TODO: redefine content layout.

/******************************************************************************
 * Publications
 ******************************************************************************/

// TODO: redefine publications layout.

/*****************************************************************************
* Projects
*****************************************************************************/

// TODO: redefine projects layout.
