/******************************************************************************
 * Content
 ******************************************************************************/

body {
  padding-bottom: 70px;
  color: var(--global-text-color);
  background-color: var(--global-bg-color);

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    scroll-margin-top: 66px;
  }
}

body.fixed-top-nav {
  // Add some padding for the nav-bar.
  padding-top: 56px;
}

body.sticky-bottom-footer {
  // Remove padding below footer.
  padding-bottom: 0;
}

.container {
  max-width: $max-content-width;
}

// Profile
.profile {
  img {
    width: 100%;
  }
}

.banner {
  max-height:45vh;
  object-fit:cover;
  object-position:bottom;
}

.profile + .clearfix h5 + ul li a {
  text-decoration: underline;
  color: inherit;
  &:hover {
    color: var(--global-theme-color);
  }
}

.profile + .clearfix h5 + ul li a em {
  color: inherit;
}

// Splash

body {
  overflow-x:hidden!important;
}

.splash {
  position: relative;
  width: 100vw;
  left: 50%;
  right: 50%;
  margin: -3rem -50vw 3rem -50vw;
}

.hero {
  object-fit:cover;
  display:block;
  max-width:100%;
  max-height:calc(100vh - 136px); // need to adjust to put title spacing
}

.floatie {
  top:0;
  right:0;
  position:absolute;
  z-index:2;
  width:100%;
}

.floatie .container {
  margin:0 auto;
  position:relative;
}

// This block of code controls the position of the content inside the splash
.floatie .container .inner {
  position:absolute;
  top:50px; // adjust according to image
  max-width:calc(0.5*$max-content-width);

  &.center {
    left:0; // adjust according to image
    right:0; // adjust according to image
    text-align:center; // adjust according to image
  }

  &.right {
    text-align:right;
    right:0;

    .social {
      text-align:right;
    }
  }
}

article.large {
  font-size:1.3rem;
  line-height:2.5rem;
}

// TODO: redefine content layout.

/******************************************************************************
 * Publications
 ******************************************************************************/

// TODO: redefine publications layout.

/*****************************************************************************
* Projects
*****************************************************************************/

// TODO: redefine projects layout.
